{% extends "base.html" %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Login</h1>
      <p class="lead fw-normal text-white-50 mb-0">Account login...</p>
    </div>
  </div>
</header>
<br />
<br />
<form method="POST" action="{% url 'login' %}" class="col-4 offset-4">
  {% csrf_token %}
  <div class="mb-3">
    <input
      type="text"
      name="username"
      class="form-control"
      placeholder="Enter your Username"
      aria-describedby="emailHelp"
      required
    />
  </div>
  <div class="mb-3">
    <input
      type="password"
      required
      class="form-control"
      name="password"
      placeholder="Your Password"
    />
  </div>
  <button type="submit" class="btn btn-secondary">Login</button>
  {% comment %} <button id="liveToastBtnm">clic</button> {% endcomment %}
</form>
{% endblock %}
